<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <script th:src="@{/webjars/semantic-ui-calendar/dist/calendar.min.js}"
            src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <link th:href="@{/webjars/semantic-ui-calendar/dist/calendar.min.css}"
          href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
          rel="stylesheet" type="text/css"/>


    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
            $('#postcode').keyup(function () {
                if ($(this).val().length > 4) {
                    var ort = $('#city');
                    $.getJSON('http://www.geonames.org/postalCodeLookupJSON?&country=' + $('#country').val() + '&callback=?', {postalcode: this.value}, function (response) {
                        if (response && response.postalcodes.length && response.postalcodes[0].placeName) {
                            ort.val(response.postalcodes[0].placeName);
                        }
                    })
                } else {
                    $('#city').val('');
                }
            });
            $('.ui.accordion').accordion();
            /*[# th:switch="#{general.language.short}"]*/
            /*[# th:case="'de'"]*/
            var day = ['S', 'M', 'D', 'M', 'D', 'F', 'S'];
            var month = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
            /*[/]*/
            /*[# th:case="*"]*/
            var day = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
            var month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            /*[/]*/
            /*[/]*/
            var today = new Date();
            var numberOfPassengers = /*[[${form.trip.numberOfPassengers}]]*/ 0;
            for (let i = 0; i < numberOfPassengers-1; i++) {
                $('#date_of_birth_calendar'+i).calendar({
                    firstDayOfWeek: 1,
                    monthFirst: false,
                    text: {
                        days: day,
                        months: month
                    },
                    formatter: {
                        date: function (date) {
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            if (month.toString().length < 2) {
                                month = '0' + month
                            }
                            if (day.toString().length < 2) {
                                day = '0' + day
                            }
                            var date_of_birth = year + '-' + month + '-' + day;
                            var ret = day + '.' + month + '.' + year;
                            document.getElementById('date_of_birth'+i).value = date_of_birth;
                            return ret;
                        }
                    },
                    type: 'date'
                });
                $('#pass_expiry_date_calendar'+i).calendar({
                    firstDayOfWeek: 1,
                    monthFirst: false,
                    text: {
                        days: day,
                        months: month
                    },
                    formatter: {
                        date: function (date) {
                            if (!date) return '';
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            if (month.toString().length < 2) {
                                month = '0' + month
                            }
                            if (day.toString().length < 2) {
                                day = '0' + day
                            }
                            var pass_expiry_date = year + '-' + month + '-' + day;
                            var ret = day + '.' + month + '.' + year;
                            document.getElementById('pass_expiry_date'+i).value = pass_expiry_date;
                            return ret;
                        }
                    },
                    type: 'date',
                    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
                });
            }
        });
        /*]]>*/

    </script>

    <title th:text="#{questionnaire.title}">!!!ERROR!!!</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{questionnaire.title}">!!!ERROR!!!</h1>
    </header>

    <nav th:include="navigation :: navigation"></nav>

    <form method="post" role="form" class="ui form" id="form" autocomplete="off" th:action="@{/questionnaire2}"
          th:object="${form}">

        <h2 class="ui dividing header"></h2>

        <div th:each="passenger, itemStat : *{passengerList}">
            <h3 th:text="#{questionnaire.passenger_information}">!!!ERROR!!!</h3>

            <div class="required field">
                <label for="firstname" th:text="#{questionnaire.firstname}">!!!ERROR!!!</label>
                <input id="firstname" name="firstname" value=""
                       th:field="*{passengerList[__${itemStat.index}__].firstName}" th:errorclass="fieldError"
                       type="text" required="required"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].firstName')}"
                     th:errors="*{passengerList[__${itemStat.index}__].firstName}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="lastname" th:text="#{questionnaire.lastname}">!!!ERROR!!!</label>
                <input id="lastname" name="lastname" th:field="*{passengerList[__${itemStat.index}__].lastName}"
                       th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].lastName')}"
                     th:errors="*{passengerList[__${itemStat.index}__].lastName}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="date_of_birth" th:text="#{questionnaire.date_of_birth}">!!!ERROR!!!</label>
                <div class="ui calendar" th:id="'date_of_birth_calendar'+${itemStat.index}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" th:placeholder="#{questionnaire.date_of_birth}" required="required">
                    </div>
                </div>
                <input hidden id="date_of_birth" th:id="'date_of_birth'+${itemStat.index}" name="date_of_birthday"
                       th:field="*{passengerList[__${itemStat.index}__].birthday}" type="date" required="required"/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].birthday')}"
                     th:errors="*{passengerList[__${itemStat.index}__].birthday}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="pass_nr" th:text="#{questionnaire.pass_nr}">!!!ERROR!!!</label>
                <input id="pass_nr" name="pass_nr" th:field="*{passengerList[__${itemStat.index}__].passNumber}"
                       th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].passNumber')}"
                     th:errors="*{passengerList[__${itemStat.index}__].passNumber}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="pass_expiry_date" th:text="#{questionnaire.pass_expiry_date}">!!!ERROR!!!</label>
                <div class="ui calendar" th:id="'pass_expiry_date_calendar'+${itemStat.index}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" th:placeholder="#{questionnaire.pass_expiry_date}" required="required">
                    </div>
                </div>
                <input hidden id="pass_expiry_date" th:id="'pass_expiry_date'+${itemStat.index}" name="pass_expiry_date"
                       th:field="*{passengerList[__${itemStat.index}__].passExpirationDate}" type="date" required="required"/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].passExpirationDate')}"
                     th:errors="*{passengerList[__${itemStat.index}__].passExpirationDate}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="street" th:text="#{questionnaire.street}">!!!ERROR!!!</label>
                <input id="street" name="street" th:field="*{passengerList[__${itemStat.index}__].streetAndNr}"
                       th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].streetAndNr')}"
                     th:errors="*{passengerList[__${itemStat.index}__].streetAndNr}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="postcode" th:text="#{questionnaire.postcode}">!!!ERROR!!!</label>
                <input id="postcode" name="postcode" value=""
                       th:field="*{passengerList[__${itemStat.index}__].areaCode}" th:errorclass="fieldError"
                       type="text" required="required"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].areaCode')}"
                     th:errors="*{passengerList[__${itemStat.index}__].areaCode}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="city" th:text="#{questionnaire.city}">!!!ERROR!!!</label>
                <input id="city" name="city" value="" th:field="*{passengerList[__${itemStat.index}__].city}"
                       th:errorclass="fieldError" type="text" required="required"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].city')}"
                     th:errors="*{passengerList[__${itemStat.index}__].city}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="country" th:text="#{questionnaire.country}">!!!ERROR!!!</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" id="country" name="country" value="de"
                           th:field="*{passengerList[__${itemStat.index}__].country}" th:errorclass="fieldError"
                           required>
                    <div class="ui negative message"
                         th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].country')}"
                         th:errors="*{passengerList[__${itemStat.index}__].country}">
                        <p>Country must not be empty.</p>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="default text" th:text="#{questionnaire.country}">!!!ERROR!!!</div>
                    <div class="menu">
                        <div class="item" data-value="af"><i class="af flag"></i><span
                                th:text="#{country.af}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ax"><i class="ax flag"></i><span
                                th:text="#{country.ax}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="al"><i class="al flag"></i><span
                                th:text="#{country.al}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="dz"><i class="dz flag"></i><span
                                th:text="#{country.dz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="as"><i class="as flag"></i><span
                                th:text="#{country.as}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ad"><i class="ad flag"></i><span
                                th:text="#{country.ad}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ao"><i class="ao flag"></i><span
                                th:text="#{country.ao}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ai"><i class="ai flag"></i><span
                                th:text="#{country.ai}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ag"><i class="ag flag"></i><span
                                th:text="#{country.ag}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ar"><i class="ar flag"></i><span
                                th:text="#{country.ar}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="am"><i class="am flag"></i><span
                                th:text="#{country.am}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="aw"><i class="aw flag"></i><span
                                th:text="#{country.aw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="au"><i class="au flag"></i><span
                                th:text="#{country.au}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="at"><i class="at flag"></i><span
                                th:text="#{country.at}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="az"><i class="az flag"></i><span
                                th:text="#{country.az}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bs"><i class="bs flag"></i><span
                                th:text="#{country.bs}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bh"><i class="bh flag"></i><span
                                th:text="#{country.bh}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bd"><i class="bd flag"></i><span
                                th:text="#{country.bd}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bb"><i class="bb flag"></i><span
                                th:text="#{country.bb}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="by"><i class="by flag"></i><span
                                th:text="#{country.by}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="be"><i class="be flag"></i><span
                                th:text="#{country.be}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bz"><i class="bz flag"></i><span
                                th:text="#{country.bz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bj"><i class="bj flag"></i><span
                                th:text="#{country.bj}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bm"><i class="bm flag"></i><span
                                th:text="#{country.bm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bt"><i class="bt flag"></i><span
                                th:text="#{country.bt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bo"><i class="bo flag"></i><span
                                th:text="#{country.bo}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ba"><i class="ba flag"></i><span
                                th:text="#{country.ba}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bw"><i class="bw flag"></i><span
                                th:text="#{country.bw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bv"><i class="bv flag"></i><span
                                th:text="#{country.bv}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="br"><i class="br flag"></i><span
                                th:text="#{country.br}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="vg"><i class="vg flag"></i><span
                                th:text="#{country.vg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bn"><i class="bn flag"></i><span
                                th:text="#{country.bn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bg"><i class="bg flag"></i><span
                                th:text="#{country.bg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bf"><i class="bf flag"></i><span
                                th:text="#{country.bf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mm"><i class="mm flag"></i><span
                                th:text="#{country.mm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="bi"><i class="bi flag"></i><span
                                th:text="#{country.bi}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tc"><i class="tc flag"></i><span
                                th:text="#{country.tc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kh"><i class="kh flag"></i><span
                                th:text="#{country.kh}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cm"><i class="cm flag"></i><span
                                th:text="#{country.cm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ca"><i class="ca flag"></i><span
                                th:text="#{country.ca}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cv"><i class="cv flag"></i><span
                                th:text="#{country.cv}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ky"><i class="ky flag"></i><span
                                th:text="#{country.ky}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cf"><i class="cf flag"></i><span
                                th:text="#{country.cf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="td"><i class="td flag"></i><span
                                th:text="#{country.td}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cl"><i class="cl flag"></i><span
                                th:text="#{country.cl}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cn"><i class="cn flag"></i><span
                                th:text="#{country.cn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cx"><i class="cx flag"></i><span
                                th:text="#{country.cx}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cc"><i class="cc flag"></i><span
                                th:text="#{country.cc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="co"><i class="co flag"></i><span
                                th:text="#{country.co}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="km"><i class="km flag"></i><span
                                th:text="#{country.km}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cg"><i class="cg flag"></i><span
                                th:text="#{country.cg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cd"><i class="cd flag"></i><span
                                th:text="#{country.cd}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ck"><i class="ck flag"></i><span
                                th:text="#{country.ck}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cr"><i class="cr flag"></i><span
                                th:text="#{country.cr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ci"><i class="ci flag"></i><span
                                th:text="#{country.ci}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="hr"><i class="hr flag"></i><span
                                th:text="#{country.hr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cu"><i class="cu flag"></i><span
                                th:text="#{country.cu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cy"><i class="cy flag"></i><span
                                th:text="#{country.cy}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cz"><i class="cz flag"></i><span
                                th:text="#{country.cz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="dk"><i class="dk flag"></i><span
                                th:text="#{country.dk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="dj"><i class="dj flag"></i><span
                                th:text="#{country.dj}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="dm"><i class="dm flag"></i><span
                                th:text="#{country.dm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="do"><i class="do flag"></i><span
                                th:text="#{country.do}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ec"><i class="ec flag"></i><span
                                th:text="#{country.ec}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="eg"><i class="eg flag"></i><span
                                th:text="#{country.eg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sv"><i class="sv flag"></i><span
                                th:text="#{country.sv}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gb"><i class="gb flag"></i><span
                                th:text="#{country.gb}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gq"><i class="gq flag"></i><span
                                th:text="#{country.gq}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="er"><i class="er flag"></i><span
                                th:text="#{country.er}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ee"><i class="ee flag"></i><span
                                th:text="#{country.ee}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="et"><i class="et flag"></i><span
                                th:text="#{country.et}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="eu"><i class="eu flag"></i><span
                                th:text="#{country.eu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="fk"><i class="fk flag"></i><span
                                th:text="#{country.fk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="fo"><i class="fo flag"></i><span
                                th:text="#{country.fo}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="fj"><i class="fj flag"></i><span
                                th:text="#{country.fj}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="fi"><i class="fi flag"></i><span
                                th:text="#{country.fi}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="fr"><i class="fr flag"></i><span
                                th:text="#{country.fr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gf"><i class="gf flag"></i><span
                                th:text="#{country.gf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pf"><i class="pf flag"></i><span
                                th:text="#{country.pf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tf"><i class="tf flag"></i><span
                                th:text="#{country.tf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ga"><i class="ga flag"></i><span
                                th:text="#{country.ga}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gm"><i class="gm flag"></i><span
                                th:text="#{country.gm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ge"><i class="ge flag"></i><span
                                th:text="#{country.ge}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="de"><i class="de flag"></i><span
                                th:text="#{country.de}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gh"><i class="gh flag"></i><span
                                th:text="#{country.gh}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gi"><i class="gi flag"></i><span
                                th:text="#{country.gi}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gr"><i class="gr flag"></i><span
                                th:text="#{country.gr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gl"><i class="gl flag"></i><span
                                th:text="#{country.gl}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gd"><i class="gd flag"></i><span
                                th:text="#{country.gd}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gp"><i class="gp flag"></i><span
                                th:text="#{country.gp}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gu"><i class="gu flag"></i><span
                                th:text="#{country.gu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gt"><i class="gt flag"></i><span
                                th:text="#{country.gt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gw"><i class="gw flag"></i><span
                                th:text="#{country.gw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gn"><i class="gn flag"></i><span
                                th:text="#{country.gn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gy"><i class="gy flag"></i><span
                                th:text="#{country.gy}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ht"><i class="ht flag"></i><span
                                th:text="#{country.ht}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="hm"><i class="hm flag"></i><span
                                th:text="#{country.hm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="hn"><i class="hn flag"></i><span
                                th:text="#{country.hn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="hk"><i class="hk flag"></i><span
                                th:text="#{country.hk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="hu"><i class="hu flag"></i><span
                                th:text="#{country.hu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="is"><i class="is flag"></i><span
                                th:text="#{country.is}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="in"><i class="in flag"></i><span
                                th:text="#{country.in}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="io"><i class="io flag"></i><span
                                th:text="#{country.io}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="id"><i class="id flag"></i><span
                                th:text="#{country.id}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ir"><i class="ir flag"></i><span
                                th:text="#{country.ir}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="iq"><i class="iq flag"></i><span
                                th:text="#{country.iq}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ie"><i class="ie flag"></i><span
                                th:text="#{country.ie}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="il"><i class="il flag"></i><span
                                th:text="#{country.il}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="it"><i class="it flag"></i><span
                                th:text="#{country.it}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="jm"><i class="jm flag"></i><span
                                th:text="#{country.jm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="jp"><i class="jp flag"></i><span
                                th:text="#{country.jp}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="jo"><i class="jo flag"></i><span
                                th:text="#{country.jo}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kz"><i class="kz flag"></i><span
                                th:text="#{country.kz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ke"><i class="ke flag"></i><span
                                th:text="#{country.ke}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ki"><i class="ki flag"></i><span
                                th:text="#{country.ki}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kw"><i class="kw flag"></i><span
                                th:text="#{country.kw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kg"><i class="kg flag"></i><span
                                th:text="#{country.kg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="la"><i class="la flag"></i><span
                                th:text="#{country.la}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lv"><i class="lv flag"></i><span
                                th:text="#{country.lv}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lb"><i class="lb flag"></i><span
                                th:text="#{country.lb}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ls"><i class="ls flag"></i><span
                                th:text="#{country.ls}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lr"><i class="lr flag"></i><span
                                th:text="#{country.lr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ly"><i class="ly flag"></i><span
                                th:text="#{country.ly}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="li"><i class="li flag"></i><span
                                th:text="#{country.li}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lt"><i class="lt flag"></i><span
                                th:text="#{country.lt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lu"><i class="lu flag"></i><span
                                th:text="#{country.lu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mo"><i class="mo flag"></i><span
                                th:text="#{country.mo}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mk"><i class="mk flag"></i><span
                                th:text="#{country.mk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mg"><i class="mg flag"></i><span
                                th:text="#{country.mg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mw"><i class="mw flag"></i><span
                                th:text="#{country.mw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="my"><i class="my flag"></i><span
                                th:text="#{country.my}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mv"><i class="mv flag"></i><span
                                th:text="#{country.mv}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ml"><i class="ml flag"></i><span
                                th:text="#{country.ml}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mt"><i class="mt flag"></i><span
                                th:text="#{country.mt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mh"><i class="mh flag"></i><span
                                th:text="#{country.mh}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mq"><i class="mq flag"></i><span
                                th:text="#{country.mq}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mr"><i class="mr flag"></i><span
                                th:text="#{country.mr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mu"><i class="mu flag"></i><span
                                th:text="#{country.mu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="yt"><i class="yt flag"></i><span
                                th:text="#{country.yt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mx"><i class="mx flag"></i><span
                                th:text="#{country.mx}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="fm"><i class="fm flag"></i><span
                                th:text="#{country.fm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="md"><i class="md flag"></i><span
                                th:text="#{country.md}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mc"><i class="mc flag"></i><span
                                th:text="#{country.mc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mn"><i class="mn flag"></i><span
                                th:text="#{country.mn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="me"><i class="me flag"></i><span
                                th:text="#{country.me}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ms"><i class="ms flag"></i><span
                                th:text="#{country.ms}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ma"><i class="ma flag"></i><span
                                th:text="#{country.ma}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mz"><i class="mz flag"></i><span
                                th:text="#{country.mz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="na"><i class="na flag"></i><span
                                th:text="#{country.na}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="nr"><i class="nr flag"></i><span
                                th:text="#{country.nr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="np"><i class="np flag"></i><span
                                th:text="#{country.np}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="an"><i class="an flag"></i><span
                                th:text="#{country.an}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="nl"><i class="nl flag"></i><span
                                th:text="#{country.nl}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="nc"><i class="nc flag"></i><span
                                th:text="#{country.nc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pg"><i class="pg flag"></i><span
                                th:text="#{country.pg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="nz"><i class="nz flag"></i><span
                                th:text="#{country.nz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ni"><i class="ni flag"></i><span
                                th:text="#{country.ni}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ne"><i class="ne flag"></i><span
                                th:text="#{country.ne}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ng"><i class="ng flag"></i><span
                                th:text="#{country.ng}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="nu"><i class="nu flag"></i><span
                                th:text="#{country.nu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="nf"><i class="nf flag"></i><span
                                th:text="#{country.nf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kp"><i class="kp flag"></i><span
                                th:text="#{country.kp}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="mp"><i class="mp flag"></i><span
                                th:text="#{country.mp}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="no"><i class="no flag"></i><span
                                th:text="#{country.no}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="om"><i class="om flag"></i><span
                                th:text="#{country.om}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pk"><i class="pk flag"></i><span
                                th:text="#{country.pk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pw"><i class="pw flag"></i><span
                                th:text="#{country.pw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ps"><i class="ps flag"></i><span
                                th:text="#{country.ps}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pa"><i class="pa flag"></i><span
                                th:text="#{country.pa}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="py"><i class="py flag"></i><span
                                th:text="#{country.py}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pe"><i class="pe flag"></i><span
                                th:text="#{country.pe}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ph"><i class="ph flag"></i><span
                                th:text="#{country.ph}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pn"><i class="pn flag"></i><span
                                th:text="#{country.pn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pl"><i class="pl flag"></i><span
                                th:text="#{country.pl}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pt"><i class="pt flag"></i><span
                                th:text="#{country.pt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pr"><i class="pr flag"></i><span
                                th:text="#{country.pr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="qa"><i class="qa flag"></i><span
                                th:text="#{country.qa}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="re"><i class="re flag"></i><span
                                th:text="#{country.re}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ro"><i class="ro flag"></i><span
                                th:text="#{country.ro}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ru"><i class="ru flag"></i><span
                                th:text="#{country.ru}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="rw"><i class="rw flag"></i><span
                                th:text="#{country.rw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sh"><i class="sh flag"></i><span
                                th:text="#{country.sh}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kn"><i class="kn flag"></i><span
                                th:text="#{country.kn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lc"><i class="lc flag"></i><span
                                th:text="#{country.lc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="pm"><i class="pm flag"></i><span
                                th:text="#{country.pm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="vc"><i class="vc flag"></i><span
                                th:text="#{country.vc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ws"><i class="ws flag"></i><span
                                th:text="#{country.ws}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sm"><i class="sm flag"></i><span
                                th:text="#{country.sm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="gs"><i class="gs flag"></i><span
                                th:text="#{country.gs}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="st"><i class="st flag"></i><span
                                th:text="#{country.st}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sa"><i class="sa flag"></i><span
                                th:text="#{country.sa}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sn"><i class="sn flag"></i><span
                                th:text="#{country.sn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="cs"><i class="cs flag"></i><span
                                th:text="#{country.cs}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="rs"><i class="rs flag"></i><span
                                th:text="#{country.rs}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sc"><i class="sc flag"></i><span
                                th:text="#{country.sc}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sl"><i class="sl flag"></i><span
                                th:text="#{country.sl}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sg"><i class="sg flag"></i><span
                                th:text="#{country.sg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sk"><i class="sk flag"></i><span
                                th:text="#{country.sk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="si"><i class="si flag"></i><span
                                th:text="#{country.si}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sb"><i class="sb flag"></i><span
                                th:text="#{country.sb}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="so"><i class="so flag"></i><span
                                th:text="#{country.so}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="za"><i class="za flag"></i><span
                                th:text="#{country.za}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="kr"><i class="kr flag"></i><span
                                th:text="#{country.kr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="es"><i class="es flag"></i><span
                                th:text="#{country.es}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="lk"><i class="lk flag"></i><span
                                th:text="#{country.lk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sd"><i class="sd flag"></i><span
                                th:text="#{country.sd}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sr"><i class="sr flag"></i><span
                                th:text="#{country.sr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sj"><i class="sj flag"></i><span
                                th:text="#{country.sj}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sz"><i class="sz flag"></i><span
                                th:text="#{country.sz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="se"><i class="se flag"></i><span
                                th:text="#{country.se}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ch"><i class="ch flag"></i><span
                                th:text="#{country.ch}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="sy"><i class="sy flag"></i><span
                                th:text="#{country.sy}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tw"><i class="tw flag"></i><span
                                th:text="#{country.tw}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tj"><i class="tj flag"></i><span
                                th:text="#{country.tj}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tz"><i class="tz flag"></i><span
                                th:text="#{country.tz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="th"><i class="th flag"></i><span
                                th:text="#{country.th}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tl"><i class="tl flag"></i><span
                                th:text="#{country.tl}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tg"><i class="tg flag"></i><span
                                th:text="#{country.tg}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tk"><i class="tk flag"></i><span
                                th:text="#{country.tk}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="to"><i class="to flag"></i><span
                                th:text="#{country.to}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tt"><i class="tt flag"></i><span
                                th:text="#{country.tt}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tn"><i class="tn flag"></i><span
                                th:text="#{country.tn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tr"><i class="tr flag"></i><span
                                th:text="#{country.tr}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tm"><i class="tm flag"></i><span
                                th:text="#{country.tm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="tv"><i class="tv flag"></i><span
                                th:text="#{country.tv}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ug"><i class="ug flag"></i><span
                                th:text="#{country.ug}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ua"><i class="ua flag"></i><span
                                th:text="#{country.ua}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ae"><i class="ae flag"></i><span
                                th:text="#{country.ae}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="us"><i class="us flag"></i><span
                                th:text="#{country.us}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="uy"><i class="uy flag"></i><span
                                th:text="#{country.uy}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="um"><i class="um flag"></i><span
                                th:text="#{country.um}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="vi"><i class="vi flag"></i><span
                                th:text="#{country.vi}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="uz"><i class="uz flag"></i><span
                                th:text="#{country.uz}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="vu"><i class="vu flag"></i><span
                                th:text="#{country.vu}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="va"><i class="va flag"></i><span
                                th:text="#{country.va}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ve"><i class="ve flag"></i><span
                                th:text="#{country.ve}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="vn"><i class="vn flag"></i><span
                                th:text="#{country.vn}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="wf"><i class="wf flag"></i><span
                                th:text="#{country.wf}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="eh"><i class="eh flag"></i><span
                                th:text="#{country.eh}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="ye"><i class="ye flag"></i><span
                                th:text="#{country.ye}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="zm"><i class="zm flag"></i><span
                                th:text="#{country.zm}">!!!ERROR!!!</span></div>
                        <div class="item" data-value="zw"><i class="zw flag"></i><span
                                th:text="#{country.zw}">!!!ERROR!!!</span></div>
                    </div>
                </div>
            </div>

            <div class="required field">
                <label for="email" th:text="#{questionnaire.email}">!!!ERROR!!!</label>
                <input id="email" name="email" th:field="*{passengerList[__${itemStat.index}__].email}"
                       th:errorclass="fieldError" type="email" required="required"
                       pattern="([\w\.]+)@([\w\.]+)\.(\w+)"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].email')}"
                     th:errors="*{passengerList[__${itemStat.index}__].email}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="required field">
                <label for="mobile" th:text="#{questionnaire.mobile}">!!!ERROR!!!</label>
                <input id="mobile" name="email" th:field="*{passengerList[__${itemStat.index}__].mobileNumber}"
                       th:errorclass="fieldError" type="text"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('passengerList[__${itemStat.index}__].mobileNumber')}"
                     th:errors="*{passengerList[__${itemStat.index}__].mobileNumber}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>

            <div class="field">
                <label for="visitedHighRiskCountry" th:text="#{questionnaire.visitedHighRiskCountry}">!!!ERROR!!!</label>
                <div th:each="country : *{highRiskCountries}">
                    <p th:text="${#strings.toString(country)}"></p>
                </div>
                <select class="ui dropdown" id="visitedHighRiskCountry" th:field="*{driver.visitedHighRiskCountry}">
                    <option th:text=" #{general.no}" value="false">!!!ERROR!!!</option>
                    <option th:text="#{general.yes}" value="true">!!!ERROR!!!</option>
                </select>
            </div>

            <p></p>
        </div>

        <button type="submit" class="ui button" th:text="#{questionnaire.send}">!!!ERROR!!!</button>
    </form>
</div>
</body>
</html>