<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <script th:src="@{/webjars/semantic-ui-calendar/dist/calendar.min.js}"
            src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <link th:href="@{/webjars/semantic-ui-calendar/dist/calendar.min.css}"
          href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />


    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('.ui.accordion').accordion();
            /*[# th:switch="#{general.language.short}"]*/
            /*[# th:case="'de'"]*/
            var day = ['S', 'M', 'D', 'M', 'D', 'F', 'S'];
            var month = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
            /*[/]*/
            /*[# th:case="*"]*/
            var day = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
            var month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            /*[/]*/
            /*[/]*/
            var today = new Date();
            var numberOfPassengers = /*[[${form.visaPassengersCount}]]*/ 0;
            for (let i = 0; i < numberOfPassengers; i++) {
                $('#visaExpirationDate_calendar'+i).calendar({
                    firstDayOfWeek: 1,
                    monthFirst: false,
                    text: {
                        days: day,
                        months: month
                    },
                    formatter: {
                        date: function (date) {
                            if (!date) return '';
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            if(month.toString().length < 2){
                                month = '0'+month
                            }
                            if(day.toString().length < 2){
                                day = '0'+day
                            }
                            var visaExpirationDate = year + '-' + month + '-' + day + 'T00:00:00Z';
                            var ret = day + '.' + month + '.' + year;
                            document.getElementById('visaExpirationDate'+i).value = visaExpirationDate;
                            return ret;
                        }
                    },
                    type: 'date',
                    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
                });
            }
        });
        /*]]>*/

    </script>

    <title th:text="#{questionnaire.title}">!!!ERROR!!!</title>
</head>
<body>
<div class="ui container">
    <header>
        <h1 th:text="#{questionnaire.title}">!!!ERROR!!!</h1>
    </header>

    <nav th:include="navigation :: navigation"></nav>

    <form method="post" role="form" class="ui form" id="form" autocomplete="off" th:action="@{/questionnaire3}"
          th:object="${form}">

        <h2 class="ui dividing header"></h2>

        <div th:each="passenger, itemStat : ${form.visaPassengers}">
            <h3 th:text="#{questionnaire.visa_information}">!!!ERROR!!!</h3>
            <h4 th:text="${passenger.getFirstName()} +' '+ ${passenger.getLastName()}"></h4>

            <input hidden id="firstname" name="firstname" value="" th:value="${passenger.getFirstName()}"/>
            <input hidden id="lastname" name="lastname" th:value="${passenger.getLastName()}"/>
            <input hidden id="date_of_birth" name="lastname" th:value="${passenger.getBirthday()}"/>
            <input hidden id="pass_nr" name="pass_nr" th:value="${passenger.getPassNumber()}"/>
            <input hidden id="pass_expiry_date" name="pass_expiry_date"
                   th:value="${passenger.getPassExpirationDate()}"/>
            <input hidden id="street" name="street" th:value="${passenger.getStreetAndNr()}"/>
            <input hidden id="postcode" name="postcode" value="" th:value="${passenger.getAreaCode()}"/>
            <input hidden id="city" name="city" value="" th:value="${passenger.getCity()}"/>
            <input hidden id="country" name="country" value="de" th:value="${passenger.getCountry()}">
            <input hidden id="email" name="email" th:value="${passenger.getEmail()}"/>
            <input hidden id="mobile" name="mobile" th:value="${passenger.getMobileNumber()}"/>
            <input hidden id="visitedHighRiskCountry" name="visitedHighRiskCountry"
                   th:value="${passenger.getVisitedHighRiskCountry()}">


            <div class="required field">
                <label for="visaNumber" th:text="#{questionnaire.visaNumber}">!!!ERROR!!!</label>
                <input id="visaNumber" name="email" th:field="*{visaPassengers[__${itemStat.index}__].visaNumber}"
                       th:errorclass="fieldError" type="text"/><br/>
                <div class="ui negative message"
                     th:if="${#fields.hasErrors('visaPassengers[__${itemStat.index}__].visaNumber')}"
                     th:errors="*{visaPassengers[__${itemStat.index}__].visaNumber}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>
            <div class="required field">
                <label for="visaExpirationDate" th:text="#{questionnaire.visaExpDate}">!!!ERROR!!!</label>
                <div class="ui calendar" th:id="'visaExpirationDate_calendar'+${itemStat.index}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" th:placeholder="#{questionnaire.visaExpDate}" required="required">
                    </div>
                </div>
                <input hidden id="visaExpirationDate" th:id="'visaExpirationDate'+${itemStat.index}" name="visaExpirationDate" th:field="*{visaPassengers[__${itemStat.index}__].visaExpirationDate}"/>
                <div class="ui negative message" th:if="${#fields.hasErrors('visaPassengers[__${itemStat.index}__].visaExpirationDate')}"
                     th:errors="*{visaPassengers[__${itemStat.index}__].visaExpirationDate}">
                    <p>!!!ERROR!!!</p>
                </div>
            </div>
            <p></p>
        </div>

        <button type="submit" class="ui button" th:text="#{questionnaire.send}">!!!ERROR!!!</button>
    </form>
</div>
</body>
</html>